body{
    background:radial-gradient(white,rgb(0, 0, 255,0.2));
}
.one{
    background: url(images/web/software.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.on{
    box-shadow: 0px 0px 30px white,2px 2px 30px blue;
}
.tw{
    box-shadow: 0px 0px 30px white,2px 2px 30px rgb(255, 0, 0,0.5);
}
.th{
    box-shadow: 0px 0px 30px white,0px 0px 30px rgb(255, 255, 0,0.5);
}
.two{
    background: url(images/web/typing.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.three{
    background: url(images/web/system\ setup.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
div{
    margin: 30px 200px;
    padding: 30px;
    color:white;
    font-size: 11px;
}
div:hover{
    text-shadow: 2px 2px 4px darkmagenta,-2px -2px 4px red,4px 4px 6px green;
}
img{
    height: 350px;
    width:500px;
}
p{
    font-size: 20px;
    margin:0px 200px;
}
@media only screen and (max-width:1000px){
    body{
        img{
            height:300px;
            width:300px;
        }; 
        div,p{
            margin:30px 100px;
        }             
    }
}
@media only screen and (max-width:600px){
    body{
        img{
            height:200px;
            width:200px;
        }; 
        div,p{
            margin:30px 100px;
        }             
    }
}